@model MobileShopConnection.HangSP

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMainLayout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Thêm Hãng Sản Phẩm
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index","HangSP")">Hãng Sản Phẩm</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Thêm Hãng Sản Phẩm
                </li>
            </ol>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2">Tên Hãng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenHang, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Bị Xóa</label>
                        <div class="col-md-10">
                            @Html.DropDownList("BiXoa", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BiXoa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
</div>

