@model MobileShopConnection.HangSP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMainLayout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Xoá Hãng Sản Phẩm
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index","HangSP")">Hãng Sản Phẩm</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Xóa Hãng Sản Phẩm
                </li>
            </ol>
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>HangSP</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Mã Hãng
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaHang)
                    </dd>

                    <dt>
                        Tên Hãng
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenHang)
                    </dd>

                    <dt>
                        Bị Xóa
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BiXoa)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>


