@model PetaPoco.Page<MobileShopConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}
<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-md-3 col-sm-6">
            <div class="single-shop-product">
                <div class="product-upper">
                    <img src="~/ShopOnline/img/@item.HinhAnh" alt="">
                </div>
                <h2><a href="@Url.Action("Details","Products", new { id = item.MaSP })">@item.TenSP</a></h2>
                <div class="product-carousel-price">
                    <ins>@item.GiaBan VNĐ</ins> <del>1000000 VNĐ</del>
                </div>

                <div class="product-option-shop">
                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="product-pagination text-center">
            <nav>
                <ul class="pagination">
                    @{
                        if (Model.CurrentPage > 1)
                        {
                            <li>
                                <a href="@Url.Action("Index","Products",new { Page = Model.CurrentPage - 1})" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="active">@Html.ActionLink(i.ToString(), "Index", new { Page = i })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(i.ToString(), "Index", new { Page = i })</li>
                        }
                    }
                    @{
                        if (Model.CurrentPage < Model.TotalPages)
                        {
                            <li>
                                <a href="@Url.Action("Index","Products",new { Page = Model.CurrentPage + 1})" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

